ul {
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    background-color: green;
  }
  
 li {
    float: left;
  }
  
  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
  }
  
  li a:hover {
    background-color: #111;
  }

  .tarjetas{
    margin: 10px;
  }

  .container{
    margin: 80px 180px 0px 0px !important;
    padding: 0px !important;

  }

  .nav_bar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 3;
  }