ul {
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    background-color: green;
  }
  
 li {
    float: left;
  }
  
  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none !important;
    cursor: pointer;
  }
  
  li a:hover {
    background-color: greenyellow;
  }

  .list-group > div{
    display: flex !important;
    flex-direction: column !important;
  }

  .tarjetas{
    margin: 10px;
  }

  .container{
    margin: 80px 0px!important;
    padding: 0 !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width : 100% !important;
  }

  .nav_bar {
    overflow: hidden;
    background-color: green;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  i{
    margin-right: 25px;
    cursor: pointer;
  }

  .actual{
    background-color: greenyellow;
    text-decoration: none !important;
    color: black;
  }

  .normal{
    color: black;
    text-decoration: none; 
  }

  .popupcontent {
    background: burlywood;
    box-shadow : 8px 8px black;
    width: fit-content;
    padding: 20px;
    position:absolute;
    left: 50%;
    top : 50%;
    transform: translate(-50%,-50%);

  }
  
  .inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px !important;
  }

  .inputs > div, #buttons{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .inputs  span{
    margin-right: 20px;
  }

  .inputs > span:first-child{
    font-weight: 700;
    margin-bottom: 20px;
  }


  

